.auth-card-wrapper {
  height: 100vh;
  background-color: var(--off-white-color);
}
.auth-card {
  background-color: var(--white-color);
  width: 50rem;
}
.link-text {
  color: var(--primary-color);
  text-decoration: none;
}
.btn-login {
  color: var(--black-color);
}
.password-hide-icon {
  top: 1rem;
  right: 1rem;
}
.card-link {
  color: var(--primary-color);
  cursor: pointer;
}
.card-link:hover {
  text-decoration: underline;
}
#signup-card-wrapper {
  height: fit-content;
}
@media (max-width: 500px) {
  .auth-card {
    width: 90vw;
  }
}
