@media (max-width: 1038px) {
  #hamburger-btn {
    display: none;
  }
  #nav-menu-without-hamburger {
    display: flex;
  }
}
@media (max-width: 720px) {
  #hamburger-btn {
    display: block;
  }
  #nav-menu-without-hamburger {
    display: none;
  }
  #hamburger-nav-menu {
    display: flex;
  }
}

.nav-logo {
  width: 5rem;
}
